{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="signup-container">
    <div class="signup-header">
        <img src="{% static 'images/logo_large.png' %}" alt="">
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        {% for field in signup_form %}
        <div class="form-group clearfix">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <!--{{ field.label_tag }}-->
            <!--<input id="username" type="text" name="username">-->
            {{ field }}


            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-signup btn-theme">회원 가입</button>

        {% for o in sinup_form%}
        <tr class="{% cycle 'row1' 'row2' %}">

        </tr>

        {% endfor %}

    </form>
    <!--{{ signup_form }}-->
    <!--{% if errors %}-->
    <!--<ul>-->
    <!--{% for error in errors %}-->
    <!--<li> {{error}}</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
    <!--{% endif %}-->
    <!--<form action="" method="POST">-->
    <!--{% csrf_token %}-->
    <!--<div class="form-group clearfix">-->
    <!--<label for="username">아이디</label>-->
    <!--<input id="username" type="text" name="username">-->
    <!--</div>-->
    <!--<div class="form-group clearfix">-->
    <!--<label for="password">비밀번호</label>-->
    <!--<input id="password" type="password" name="password">-->
    <!--</div>-->
    <!--<div class="form-group clearfix">-->
    <!--<label for="password2">비밀번호 확인</label>-->
    <!--<input id="password2" type="password" name="password2">-->
    <!--</div>-->
    <!--<div>-->
    <!--</div>-->
    <!--</form>-->

    <!--{{ form.}}-->
</div>
{% endblock %}