{% extends 'base.html' %}

{% block content %}
<div>
    <h1>
        <a href="song:song-search">노래검색</a>
    </h1>

    <form action="" method="get">
        <input type="text" name="keyword">
        <button type="submit">검색</button>
    </form>

    <ul>
        {% for song in songs_from_title %}
        {노래로 검색한 노래결과}
        <li>
            {{ song.title }}
        </li>
        {% endfor %}
    </ul>
    <ul>
        {% for song in songs_from_albums %}
        {앨범으로 검색한 노래결과}
        <li>
            {{ song.title }}
        </li>
        {% endfor %}
    </ul>
    <ul>
        {% for song in songs_from_artists %}
        {아티스트로 검색한 노래결과}
        <li>
            {{ song.title }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}