{% extends 'base.html' %}

{% block content %}
<div class="album-list-container">
	<!-- album-add로의 링크 생성 -->
	<a href="{% url 'album:album-add' %}">앨범 추가</a>
	<ul class="clearfix">
		<li class="clearfix">
			<a href="">
				<img src="{% if album.img_cover %}{{ album.img_cover.url }}{% endif %}" alt="" class="cover">
				<div class="album-info">
					<div class="name">{{ album.title}}</div>
					<div>{{ album.release_date }}</div>
				</div>

				{% if request.user.is_authenticated %}
				<!-- artist_like_toggle을 실행할 form -->
				<form action="{% url 'album:album-like-toggle' album_pk=album.pk %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="next-path" value="{{ request.get_full_path }}">
					{% if album.user in album.like_users.all %}
						<button type="submit">좋아요 취소</button>
					{% else %}
						<button type="submit">좋아요</button>
					{% endif %}
				</form>
				{% endif %}
			</a>
		</li>
	</ul>
</div>
{% endblock %}